extends ../layout

block content

	h3 Show all restaurants
	table
		thead
			tr
				th Restaurant ID
				th(width="150") Name
				th(width="150") Owner Name
				th(width="300") Reservation Email
				th(width="350") Survey URL
		tbody
		each restaurant in restaurants
			tr
				td #{restaurant._id}
				td #{restaurant.name}
				td #{restaurant.owner_name}
				td #{restaurant.reservation_email}
				td #{restaurant.survey_url}
				